# Visual Studio Ignores
bin/
Bin/
obj/

*.suo
*.user

*.ncb

# Resharper Ignores
_ReSharper.*/
*.resharper.user

# vim Ignore
*.swp

# kdiff3 Ignore
*.orig

# Misc Ignores
Thumbs.db

# Helpers.Net.Resource.SQLiteProvider specific ignores
src/Helpers.Net.Resource.SQLiteProvider/sqlite.sql

# SHFB ignores
src/*/docs